body {
    background-color: #21242B;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#clock {
    font-family: "RobotoMono Nerd Font";
    font-size: 8.0rem;
    color: #BBC2CF;
}

h1 {
    font-family: "SauceCodePro Nerd Font";
    font-size: 8.0rem;
    color: #21242B ;
    margin-bottom: .25em;
}


.weather-container {
    width: 70%;
    background-color: #51AFEF ;
    padding: 1em;
    font-family: "CodeNewRoman Nerd Font";
    font-size: 2.0rem;
    color: #21242B;
    text-align: center;
}
.inline {
    display: inline-block;
}


@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
    }
}
